
DATABASE_URL=
BREVO_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_READ_TOKEN=
SANITY_REVALIDATE_SECRET=
SANITY_STUDIO_URL=

# This one is only optional as per your use case, you can leave it empty if you don't want to use it.
ALLOWED_DEV_ORIGIN=